.todo {
  background: white;
  color: black;
  width: 400px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: 1px dotted red;
}
.todo button {
  cursor: pointer;
  white-space: nowrap;
}

.todo-filter-control {
  display: flex;
  width: 100%;
}

.todo-filter-button {
  flex: 1;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list ul {
  width: 100%;
}

.todo-item {
  display: flex;
  width: 100%;
  align-items: center;
}

.todo-item-title {
  flex: 1;
}
.todo-item-title,
.todo-item-title * {
  overflow-wrap: break-word;
  overflow: hidden;
}
.todo-item-title span {
  display: inline-block;
  max-width: 100%;
}
.todo-item-title input {
  display: block;
  width: 100%;
}
.item-done .todo-item-title span {
  text-decoration: line-through;
}

.todo-stop-count:hover {
  text-decoration: line-through;
}

.todo-countdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
