.greetingBox{
	@include greeting-font;
    //width: 500px;
    //height: 100px;
    //margin-left: auto;
    //background: rgba(0,0,0, .8);

    input{
    	@include greeting-edit-font;
        max-width: 20%;
    	background:none;
    	border:none;
    	border-bottom: 3px solid #fff;
    	cursor:auto;
    	outline:none;
    }
}