.quoteContainerDiv{
	width:100%;
	margin-bottom:15px;
}

.quoteWidgetDiv {
	width:100%;
	text-align:left;
	display:fixed;
	max-height:60vh;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	margin: 0 auto;
	padding: 25px;
	position: fixed;
	overflow: scroll;
	bottom: 25vh;
	z-index:20;
}

.displayQuoteDiv {
	@include fade-in;
	display: absolute;

}


.quoteSentence {
	font-size: 18px;
	color: #fff;
}

.quoteAuthor {
	font-size: 12px;
	color: #ccc;
}

.addQuotes{
	padding-bottom:15px;
	font-family: $base-font;
	font-size:0.7em;

	input{
		border-radius:5px;
		border:none;
		margin-left: 5px;
		margin-right: 10px;
		padding:5px 8px;
	}

	.addQuoteText{
		width:40%;
	}

	.addQuoteAuthor{
		width:20%;
	}

	.btnAddQuote{
		display:inline-block;
		color:#fff;
		background: none;
		border: 1px solid #fff;
		margin-top: 10px;

	&:hover{
		color: #000;
		background-color:#fff;
		}
	}
}

.sentenceItem{
	font-size: 12px;
	color: #fff;
}

.authorItem{
	font-size: 10px;
	color: #ccc;
}

.quoteList{
	margin: 0 auto;
}

.quoteListItem{
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.quoteIcons{
	color:$icon-color;	
	@include fade-in;

	li{
		margin:5px;
		display:inline-block;

		&:hover{
			color: $icon-hover-color;
			cursor: pointer;
		}
	}
}

.closeSetting{
	position:absolute;
	margin:5px 10px 0 0;
	top:0;
	right:0;
	cursor: pointer;
}

.quoteItem{
	display:inline-block;
	width:90%;
}

.deleteQuote{
	display:inline-block;
	text-align:right;
	vertical-align: middle;
	width:10%;
	opacity:0.2;
	cursor:pointer;
	&:hover{opacity:1;}
}

.fa-twitter{
	a:visited &{
		color:#fff;
	}
}

.noQuotesYet{
	position:relative;
	display:block;
	top:50%;
	text-align:center;
}