.settingsItem{
    width: 150px;
    height: 40px;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.switcherContainer{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.itemSwitcher{
    width: 25px;
    height: 17px;
    background-color: grey;
    border-radius: 7px;
    cursor: pointer;
}
.itemName{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.switchON{
    background-color: #3de5dd;
}