.todays-focus,
.todays-focus:before,
.todays-focus:after {
  box-sizing: border-box;
}

.todays-focus *,
.todays-focus *:before,
.todays-focus *:after {
  box-sizing: inherit;
}

.todays-focus {
  position: fixed;
  z-index: 12; /* weatherbar has z-index 11 */
  width: 900px;
  height: 250px;
}

.todays-focus-content {
  display: flex;
  position: absolute;
  right: 21%;
  left: 21%;
  top: 60%;
  transform: translateY(-50%);
}

.todays-focus-task {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0; /* it would not shrink without this line */
  text-align: center;
  display: flex;
  justify-content: center;
  transition: all .2s ease-in-out;
  transform: none;
  opacity: 1;
}
.todays-focus-task-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0; /* it would not shrink without this line */
  font-size: 1.5em;
  line-height: 1.5em;
}

.task-entering .todays-focus-task:not(.no-animate) {
  transform: translateY(100%);
  opacity: 0;
}

.task-leaving .todays-focus-task:not(.no-animate) {
  transform: translateY(-100%);
  opacity: 0;
}

.todays-focus-svg {
  height: 100%;
  width: 100%;
}
.todays-focus-path {
  stroke: #333;
  stroke-width: 3;
  stroke-linejoin: round;
}
.todays-focus-cloud-path {
  fill: #fff;
  fill: rgba(255, 255, 255, .5);
}
.todays-focus-sun-ellipse-path {
  stroke: #fc7f11;
  fill: #efa667;
  opacity: 0;
  cursor: pointer;
}
.todays-focus-sun-path {
  stroke: #efd421;
  fill: #efd150;
  opacity: 0;
  cursor: pointer;
}
.todays-focus-0 .todays-focus-star-path {
  fill: #fb8c00;
  opacity: .5;
}
.todays-focus-1 .todays-focus-star-path {
  fill: #ffb300;
  opacity: .5;
}
.todays-focus-2 .todays-focus-star-path {
  fill: #fdd835;
  opacity: .5;
}
.todays-focus:hover {
  .todays-focus-cloud-path {
    stroke: #6e9fef;
    fill: #ccdefc;
  }
  .todays-focus-sun-path,
  .todays-focus-sun-ellipse-path,
  .todays-focus-star-path {
    opacity: 1;
  }

  &.todays-focus-0 .todays-focus-star-path {
    stroke: #fa7000;
  }
  &.todays-focus-1 .todays-focus-star-path {
    stroke: #ffa500;
  }
  &.todays-focus-2 .todays-focus-star-path {
    stroke: #f7ce18;
  }
}

