.weatherBar{
    width: 200px;
    height: 70px;
    margin-left: auto;
    margin-top: 5px;
    color: #FFF;
    font-size: 40px;
    user-select: none;
}

.hidden{
    display: none;
}

.locationBar {
    font-size: 14px;
    margin-top: 7px;
}
.conditionsBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.tempBox {
    cursor: pointer;
}

.errorMsg {
    font-size: 10px;
}