# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# generated css
src/styles/css/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sass-cache/
*.map

#Visual Studio Code config
.vscode/*

