
body {
  font-family:$base-font;
  font-size: 1em;
  min-height: 100%;
  overflow: hidden;
}

.widgets{
 
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../backgroundImages/download(1).jpg");
    background-size: cover;
    background-position: center;
}
.pic1 {
}
.pic2 {
    background-image: url("../backgroundImages/download(2).jpg");
}
.pic3 {
    background-image: url("../backgroundImages/download(3).jpg");
}
.pic4 {
    background-image: url("../backgroundImages/download(4).jpg");
}
.pic5 {
    background-image: url("../backgroundImages/download(5).jpg");
}
.pic6 {
    background-image: url("../backgroundImages/download(6).jpg");
}
.pic7 {
    background-image: url("../backgroundImages/download(7).jpg");
}

.top-right{
   @include component(50%, "top", 0, "right", 0);
}

.center{
  @include component(100%, "top", 50%, "left", 50%);
    transform: translate(-50%, -50%);
}
.bottom-right{
   @include component(50%, "bottom", 0, "right", 0);
}

.bottom-left{
   @include component(10%, "bottom", 0, "left", 0);
}

.bottom{
  @include component(50%, "bottom", 0, "left", 50%);
    transform: translate(-50%, 0);
}

