
	@font-face {
		font-family: 'Ubuntu-Bold';
		src: url('./Ubuntu/Ubuntu-B.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Ubuntu-Regular';
		src: url('./Ubuntu/Ubuntu-R.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}

	@mixin ubuntuBold {
		font-family: 'Ubuntu-Bold', Arial, Helvetica, sans-serif;
   		font-weight: 700;
   		font-style: normal;
	}

	@mixin ubuntuRegular {
		font-family: 'UbuntuRegular', arial, sans-serif;
   		font-weight: 400;
   		font-style: normal;
	}