
$base-font: "Helvetica Neue", "Lucida Grande", sans-serif;

@mixin fullpage($pos, $zindex){
	top:0;
	right:0;
	bottom:0;
	left:0;
	position:$pos;
	z-index:$zindex;
}

@mixin component($width, $top-btm, $val1, $left-right, $val2) {
	position:absolute;
	display:block;
	text-align:center;
	width:$width;
	#{$top-btm}:$val1;
	#{$left-right}:$val2;
	z-index:11;
}

@mixin greeting-font{
	color: #fff;
    font-size: 225%;
}

@mixin greeting-edit-font{
	color:#fff;
	font-size: 100%;
}